{% extends "layout.html" %}
<!-- get the error message from wtf forms -->
{% from "_formhelpers.html" import render_field %}
<!-- title is login -->
{% block title %}  {{title}}  {% endblock title %} 
{% block content %}

<form novalidate action="/login" id="login_forms" method="POST">  
        <!-- Make the secret key work -->
        {{ form.csrf_token }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        <input type="submit" value="Submit">  
</form>
{% endblock content %}
