{%extends "layout.html"%}
<!--get the error message from wtf forms -->
{% from "_formhelpers.html" import render_field %}
{%block title%} {{title}} {%endblock title%} 
    {%block content%}
       <form novalidate action="/register" id="register_forms" method="POST"> 
            <!-- Make the secret key work -->
            {{form.csrf_token}} 
            <!--the "render_field" makes the error message from wtf forms work-->
            {{render_field(form.username)}}
            {{render_field(form.email)}}
            {{render_field(form.password)}}
            {{render_field(form.confirm_password)}}
            <input type="submit" value="Submit">
        </form>  
    {%endblock content%}      

   